<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test">
        <classes>
            <class name="com.example.tests.LoginTest" />
            <class name="com.example.tests.CartTest" />
            <class name="com.example.tests.PurchaseTest" />
        </classes>
    </test>
</suite>
